@import "styles/colors.scss";

.Button {
  appearance: none;
  outline: none;
  border: none;
  padding: 5px 20px;
  cursor: pointer;

  &.primary {
    background: $primary-color;
    color: $white-color;

    &:disabled {
      background: lighten($primary-color, 30);
      color:  lighten($white-color, 30);
    }
  }

  &.link {
    background: transparent;
    color: $title-color;

    &:disabled {
      color:  lighten($title-color, 30);
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

}

