@import "styles/colors.scss";

.StatusCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  &.complete {
    background-color: $primary-color;
  }

  &.partially-complete {
    background-color: $success-color;
  }
}
