.CollapsedQuestion {
  display: flex;
  width: 100%;
  justify-content: space-between;

  &__title {
    width: 30%;
    font-weight: bolder;
    cursor: pointer;
  }

  &__answer {
    flex: 1;
  }

  &__status {
    width: 100%;
    flex: 0;
  }
}
