@import "styles/colors.scss";

.CurrentQuestion {

  &__TitleWrapper {
  }

  &__Title {
    margin-top: 10px;
    margin-bottom: 0;
    color: $title-color;
  }

  &__DescriptionWrapper {
    margin-top: 5px;
  }

  &__Description {
    color: $text-color;
    margin: 0;
    font-size: 14px;
  }

  &__ControlWrapper {
    margin-top: 10px;
  }

  &__ErrorMessagesWrapper {
    margin-top: 3px;
  }

  &__ActionsWrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
}
