@import "styles/colors.scss";

.Date {
  color: $title-color;
  padding: 5px 10px;
  border-radius: 0;
  outline: 0;
  border: 1px $primary-color solid;
  appearance: none;
  background-color: transparent;
}
