@import "styles/colors.scss";

.Select {
  background-color: transparent;
  padding: 3px 10px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  border: 1px $primary-color solid;
  border-radius: 0;

  :focus-visible {
    outline: none;
  }

  &__option {

  }
}
